@(user:User)(implicit request: RequestHeader, lang:Lang)<br>
<br>
Bonjour @{user.first_name},<br>
<br>
some blabla<br>
<br>
<a href="@routes.AuthenticationController.validate(user.uuid).absoluteURL()">Clic sur ce lien pour confirmer ton compte</a><br>
<br>
Comme d'habitude, si tu ne veux plus recevoir d'email tu peux te <a href="@routes.Application.unsubscribe(user.uuid).absoluteURL()">désinscrire</a> ou <a href="@routes.Application.home().absoluteURL()">changer la fréquence des notifications mails</a>.<br>
