@(credentialsForm: Form[Credentials])(implicit request: RequestHeader, lang:Lang)

@views.html.layout.home(m("meta.security.login.title")
, m("meta.security.login.description")
, m("meta.security.login.keyword")) {

    <div class="inner cover">
        <div class="dark-row text-left" id="login-form">
            <h1>@{m("security.login.title")}</h1>
            <p>
                @m("security.login.beta.warning")
            </p>
            <div class="white-row social-authentification">
                <div class="row">
                    @common.socialLogin()
                </div>
            </div>

            @form(action = routes.AuthenticationController.authenticate()) {
                <div class="row">
                    <div class="col-md-12">
                        @inputText(credentialsForm("email"), Symbol("required") -> true,
                        Symbol("placeholder") -> m("security.signin.mail.placeholder"))
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @inputPassword(credentialsForm("password"), Symbol("required") -> true,
                        Symbol("placeholder") -> m("security.signin.password.placeholder"))
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="signinBtn" type="submit" value="@m("general.login")" class="btn btn-primary btn-block" />
                    </div>
                </div>

                <div class="row margin-top10">
                    <div class="col-xs-12">
                        <a href="@controllers.routes.AuthenticationController.forgottenPassword()" class="legal-info">@m("security.login.retrieveMyAccount")</a>
                        <a href="@controllers.routes.AuthenticationController.signin()" class="legal-info pull-right">@m("security.login.createAccount")</a>
                    </div>
                </div>
            }
        </div>
    </div>

}
